<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" >
        <a class="nav-link" routerLink="/" routerLinkActive="active" >Home </a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item" *ngIf="IsAuthenticated()">
        <a routerLink="/profile" class="nav-link" routerLinkActive="active">Profile</a>
      </li>
      <li class="nav-item" *ngIf="!IsAuthenticated()">
        <a class="nav-link" (click)="Login()" href="#">Login</a>
      </li>
      <li class="nav-item" *ngIf="IsAuthenticated()">
        <a class="nav-link" (click)="Logout()" href="#">Logout</a>
      </li>
    </ul>
  </div>
</nav>
